$black: #000;
$white: #fff;
$primary-blue: #509EFA;
$secondary-blue: #C0F8FF;
$primary-gray: #374860;
$secondary-gray: #B5BECC;
$light-gray: #F8FBFF;
$primary-yellow: #FFCF00;
$secondary-yellow: #FFFDE5;
$orange: #FFAE00;